tests/org.eclipse.bpel.common.wsdl.tests/resources/wsdls/test6/level1/level2/To_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://ser" xmlns:tns="http://ser" xmlns:types="http://ser/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://ser/types" schemaLocation="../To_schema2.xsd" />
  
  <xs:element name="helloWorld" type="types:helloWorld" />
  <xs:element name="helloWorldResponse" type="types:helloWorldResponse"/>
  <xs:element name="listenToTheWorld" type="types:listenToTheWorld"/>
</xs:schema>
